html, body {
  background-color: #ffffff;
  font-family: 'Noto Sans KR', sans-serif;
  color: #000000;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: #ffffff;
  color: #000000;
}


h1, .card, .sticky-background, .start-screen, .end-screen {
  font-family: 'Noto Sans KR', sans-serif;
}
.end-screen {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  color: #ffffff;
  text-align: center;
  line-height: 1.2;
  font-family: 'Noto Sans KR', sans-serif;
}

.new-page-section {
  
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 50px;
  background-color: #ffffff; /* 하얀색*/
  color: #ffffff; /* 텍스트 색상 */
  text-align: center;
  min-height: 100vh; /* 페이지 높이 */
}

.end-screen {
  font-size: 8vw;
}

.main-content-1 {
  width: 100%;
  height: 100vh;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.sticky-background {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8vw;
}

.card-frame {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 기본 4열 배치 */
  gap: 2vw;
  width: 100%;
  max-width: 40vw;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
}

.card {
  background-color: white;
  border-radius: 0.8vw;
  width: 15vw;  /* 카드의 너비 조정 */
  height: 20vw; /* 카드의 높이 조정 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20vw;
  transform-style: preserve-3d;
  position: relative;
  transform: translateX(50vw) rotateY(180deg);
  opacity: 0; /* 초기 상태는 보이지 않도록 설정 */
  transition: transform 1s ease, box-shadow 1s ease;
}

.good:hover {
  box-shadow: 0 5px 25px 20px rgba(0, 255, 170, 0.2); /* 그림자 추가 */
}

.bad:hover {
  box-shadow: 0 5px 25px 20px rgba(255, 0, 0, 0.2); /* 그림자 추가 */
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.8vw;
  overflow: hidden;
  backface-visibility: hidden;
}

.front {
  font-size: 0.5em;
  font-family: 'Noto Sans KR', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.back {
  transform: rotateY(180deg);
  background-image: url('images/img2.png');
  background-size: cover; /* 이미지가 카드 크기에 맞도록 설정 */
  background-position: center;
}

.card1 {
  background-image: url('images/img4.png');
  background-size: cover; /* 이미지가 카드 크기에 맞도록 설정 */
  background-position: center;
}

.card2 {
  background-image: url('images/img5.png');
  background-size: cover; /* 이미지가 카드 크기에 맞도록 설정 */
  background-position: center;
}

.card3 {
  background-image: url('images/img6.png');
  background-size: cover; /* 이미지가 카드 크기에 맞도록 설정 */
  background-position: center;
}

.card4 {
  background-image: url('images/img7.png');
  background-size: cover; /* 이미지가 카드 크기에 맞도록 설정 */
  background-position: center;
}

.card5 {
  background-image: url('images/img8.png');
  background-size: cover; /* 이미지가 카드 크기에 맞도록 설정 */
  background-position: center;
}

.card6 {
  background-image: url('images/img9.png');
  background-size: cover; /* 이미지가 카드 크기에 맞도록 설정 */
  background-position: center;
}

.card7 {
  background-image: url('images/img10.png');
  background-size: cover; /* 이미지가 카드 크기에 맞도록 설정 */
  background-position: center;
}

.card8 {
  background-image: url('images/img3.png');
  background-size: cover; /* 이미지가 카드 크기에 맞도록 설정 */
  background-position: center;
}

@media screen and (orientation:portrait) {
  .card-frame {
    display: grid;
    height: initial;
    width: initial;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 10vw;
    justify-items: center;
  }

  .card {
    font-size: 20vw;
    width: 35vw;
    height: 50vw;
  }
}


.end-screen {
  opacity: 0;
  transform: translateY(20px); /* 시작할 때 살짝 아래에 위치 */
  transition: opacity 1s ease-out, transform 1s ease-out; /* 부드러운 페이드 인 */
  background-color: #000000;
}

.end-screen.animate {
  opacity: 1;
  transform: translateY(0); /* 원래 위치로 이동 */
}


.body-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  clip-path: circle(0% at 50% 50%);
  transition: clip-path 2s ease-out; /* 시간을 2초로 조정 */
  z-index: -1;
}

.body-background.expand {
  clip-path: circle(150% at 50% 50%);
}


.new-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9;
}

.new-section .image-container {
  flex: 1;
  padding: 10px;
}

.new-section .image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.new-section .text-container {
  flex: 1;
  padding: 10px;
}

.new-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
  transition: background-color 1s ease-in-out; /* 배경색 전환 애니메이션 */
}

.new-section .image-container {
  flex: 1;
  padding: 10px;
}

.new-section .image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.new-section .text-container {
  flex: 1;
  padding: 10px;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 기본 4열 배치 */
  gap: 2vw;
  width: 100%;
  max-width: 40vw;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  background-color: #ffffff;
}

.card-item {
  background-color: #fff;
  border-radius: 0.8vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  overflow: hidden;
  padding: 5px;
  width: 15vw;
  height: 20vw; /* 카드의 세로 길이 조정 */
  background-image: url('images/img2.png');
  background-size: cover; /* 이미지가 카드 크기에 맞도록 설정 */
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px 20px rgba(0, 0, 0, 0.2);
}

.new-page-section.blur-background {
  filter: blur(5px);
}

/* 오버레이 및 카드 스타일 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  z-index: 10; /* 흐림 효과보다 높은 z-index */
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal-card {
  border-radius: 0.8vw;
  box-shadow: 0 4px 20px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 18vw;
  height: 24vw;
  z-index: 11; /* 오버레이보다 높은 우선순위 */
  background-image: url('images/img_heart.png');
  background-size: contain; /* 요소 내부에 완전히 들어가게 조정 */
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffc5c5;
  font-size: 0.8vw;
}

.new-page-section-2 {
  display: flex;
  justify-content: flex-end; /* 오른쪽에 배치 */
  align-items: center;
  padding: 20px;
  min-height: 100vh; /* 페이지 전체 높이 */
  background-color: #ffffff; /* 배경색 */
}

.text-box {
  width: 40%;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  opacity: 0; /* 초기 상태: 보이지 않음 */
  transform: translateY(30px); /* 초기 상태: 살짝 아래로 이동 */
  transition: opacity 5s ease, transform 2s ease; /* 애니메이션 시간을 2초로 늘림 */
}


/* 스크롤 시 그라데이션 효과 */
.text-box.show {
  opacity: 1; /* 보이기 */
  transform: translateY(0); /* 제자리로 이동 */
}


.new-page-section-2 h2 {
  font-size: 1.8vw; /* 제목 크기를 더 크게 */
}

.new-page-section-2 p {
  font-size: 1.2vw; /* 본문 크기를 더 크게 */
}

.new-page-section-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff; /* 배경색 */
}

.image-box {
  width: 40%; /* 이미지 박스의 너비 */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 25px; /* 왼쪽 여백을 추가하여 오른쪽으로 이동 */
}

.image-box img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.animated-image {
  width: 80%; /* 이미지 크기 조정 */
  height: auto;
  animation: scaleBounce 2s infinite; /* 커졌다가 작아지는 애니메이션 적용 */
}

/* 커졌다가 작아지는 애니메이션 정의 */
@keyframes scaleBounce {
  0%, 100% {
    transform: scale(1); /* 원래 크기 */
  }
  50% {
    transform: scale(1.1); /* 10% 커짐 */
  }
}

.text-box {
  width: 50%; /* 텍스트 박스의 너비 */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.new-page-section-3 {
  padding: 50px;
  background-color: #000000; /* 밝은 배경색 */
  color: #333; /* 텍스트 색상 */
  text-align: center;
  min-height: 100vh; /* 페이지 전체 높이 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-page-section-3 h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  background-color: #000000;
}

.new-page-section-3 p {
  font-size: 1.5rem;
  max-width: 800px;
  line-height: 1.6;
}


.start-screen > h1 {
  font-size: 2vw; /* 원하는 글자 크기로 조정 */
}



.end-screen {
  font-size: 2vw; /* 글자 크기 조정 */
  font-weight: bold; /* 폰트 굵게 설정 */
}


.sticky-background {
  opacity: 0; /* 초기 상태는 보이지 않음 */
  transition: opacity 1.5s ease-in; /* 부드러운 페이드 인 효과 */
}

.sticky-background.show {
  opacity: 1; /* 보이기 */
}



.start-screen {
  width: 100%;
  height: 100vh;
  background-color: #ffffff; /* 배경을 흰색으로 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  color: #000000; /* 글자 색상을 검정색으로 설정 */
  text-align: center;
  line-height: 1.2;
  font-family: 'Noto Sans KR', sans-serif;
}

.scroll-downs {
  position: absolute;
  bottom: 20%; /* 화면 하단에서 25% 위로 */
  left: 50%; /* 화면 중앙 */
  transform: translateX(-50%); /* 중앙 정렬 */
  
  width: clamp(20px, 4vw, 34px); /* 최소 20px, 최대 34px */
  height: clamp(30px, 6.5vh, 55px); /* 최소 30px, 최대 55px */
}

.mousey {
  position: relative;
  width: clamp(2px, 0.3vw, 3px); /* 최소 2px, 최대 3px */
  padding: clamp(5px, 1vh, 10px) clamp(10px, 1.5vw, 15px); /* 최소 및 최대 패딩 */
  height: clamp(20px, 4vh, 35px); /* 최소 20px, 최대 35px */
  border: clamp(1px, 0.2vw, 2px) solid black;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}

.scroller {
  position: absolute;
  transform: translateX(-50%);
  width: clamp(3px, 0.5vw, 5px); /* 최소 3px, 최대 5px */
  height: clamp(5px, 1.5vh, 10px); /* 최소 5px, 최대 10px */
  border-radius: 25%;
  background-color: black;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15, .41, .69, .94);
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(clamp(10px, 2vh, 15px)); /* 최소 10px, 최대 15px */
  }
}

